
@{
    ViewData["Title"] = "About";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Become a Coach : Confirm</title>
    <link href="/css2/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js2/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/css2/style2.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Games Park Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--flexslider-->
    <link rel="stylesheet" href="/css2/flexslider.css" type="text/css" media="screen" />
    <!--//flexslider-->
</head>

<body style="background-color:white">
    <!--header-->
   <div class="header">
        <div class="header-top">
                    <div class="logo">
                        <h1><a href="index.html"> Become a  <span>Coach</span></a></h1>
                    </div>
                    <div class="top-nav">
                        
                        <ul>
                            <li ><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Games">Games</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            @if(this.User.IsInRole("Admin")){<li class="nav-item"><a asp-area="" asp-controller="Coaches" asp-action="Index">Manage Users</a></li>}
                            
                        </ul>

                        <!--script-->
                        <script>
                            $("span.menu").click(function () {
                                $(".top-nav ul").slideToggle(500, function () {
                                });
                            });
                        </script>

                    </div>
                    <div class="top-nav">
                    <div class="dropdown">
                                <button class="dropbtn"> <i class="material-icons">account_box</i> Account </button>
                                <div class="dropdown-content">
                                    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
                                   <a > <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button style="background-color:transparent; border-width:0px;width:100%;height:100%; text-align:left;" type="submit" >Logout</button>
                                    </form></a>
                                </div>
                            </div>

                             </div>
        </div>
    </div>
    <!--start-about-->
    <div class="about">
        <div class="container">
            <div class="about-top">
                <h3 style="color:#22223b">Thank Your for requsting in our website</h3>
            </div>
            <div class="about-bottom">
                <p style="font-size:25px">
                    Your submition has been received.
                </p>
                <p style="font-size:25px">
                    The Admin will check your informations to approve your request.
                </p>
                <p style="font-size:25px">
                    Hopfully you will start your coaching career with us as soon as possible.
                </p>
               

                <div class="about-btm">
                    <div class="col-md-6 about-left">
                        <a href="single.html"><img class="img-responsive" src="images/bt.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-6 about-right">
                        <a href="single.html"><img class="img-responsive" src="images/bt1.jpg" alt="" /></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--advantages-->
            
        </div>
        <!--//team-->
        <!--//about-->
        
</body>
</html>

