@model GProject2.Models.Coach

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdmiLayout.cshtml";
}

<h1>Edit</h1>

<h4>Coach</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CoachId" />
           <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscordName" class="control-label"></label>
                <input asp-for="DiscordName" class="form-control" />
                <span asp-validation-for="DiscordName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game" class="control-label"></label>
                <select asp-for="Game" class="form-control" asp-items="Html.GetEnumSelectList<GameType>()">         
                </select>
                <span asp-validation-for="Game" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Social" class="control-label"></label>
                <input asp-for="Social" class="form-control" />
                <span asp-validation-for="Social" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaypalAcc" class="control-label"></label>
                <input asp-for="PaypalAcc" class="form-control" />
                <span asp-validation-for="PaypalAcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achivment" class="control-label"></label>
                <input asp-for="Achivment" class="form-control" />
                <span asp-validation-for="Achivment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                 
                <input asp-for="Image" type="file"  id="customFile">                
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCoachConfirmed" class="control-label"></label>
                <input asp-for="IsCoachConfirmed"class="form-contro">
                <span asp-validation-for="IsCoachConfirmed" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" formmethod="post"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

