################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GProject13/.vs
/GProject13/GProject2/bin/Debug/net5.0
