@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h1 class="text-danger">You do not have access to this resource.</h1>
    <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index">Back</a></li>
</header>
