@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<!DOCTYPE html>



<head>
    <title>Gaming Login Form Responsive Widget Template  :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gaming Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />

    <style>
        .button {
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 20px;
            padding: 2px;
            width: 150px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 10px;
            margin-right: 450px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>
</head>



    
        <div class="padding-all">
            <div class="header">
                <h1><img src="/images/5.png" alt=" "> Become a Coach</h1>
            </div>

            <div class="design-w3l">
                <div class="mail-form-agile">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <div class="form-row">
                            <label asp-for="Input.FullName"></label>
                            <input asp-for="Input.FullName" class="form-control" />
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>
                        <div class="form-row">
                            <label asp-for="Input.DiscordName"></label>
                            <input asp-for="Input.DiscordName" class="form-control" />
                            <span asp-validation-for="Input.DiscordName" class="text-danger"></span>
                        </div>
                        <div class="form-row">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-row">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-row">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <button type="submit" class="button"><span>Register </span></button>
                    </form>
                </div>
                <div class="clear"> </div>
            </div>


        </div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }


